  <footer id="map">
   <div class="footer">
    <div class="container">
     <div class="row">
      <div class="col-md-8">

       <div class="row">
        <div class="col-xs-6 col-sm-3 nav-low">

         <span class="section">Products</span>
         <ul>
          <li><a href="/tour.html">Tour</a>
          <li><a href="/innovative.html">Innovation</a></li>
         </ul>

         <p>&nbsp;</p>

         <span class="section">Front-ends</span>
         <ul>
          <li><a href="https://www.caeplex.com">CAEplex</a></li>
         </ul>
        </div>

        <div class="col-xs-6 col-sm-3 nav-low">
         <span class="section">Back-ends</span>
         <ul>
          <li><a href="/wasora">Wasora</a></li>
          <li><a href="/milonga">Milonga</a></li>
          <li><a href="/fino">Fino</a></li>
          <li><a href="/libreblackjack">LibreBlackjack</a></li>
          <li><a href="/tour.html">More&hellip;</a></li>
          <li><a href="https://bitbucket.org/seamplex">Bitbucket</a></li>
         </ul>
        </div>


        <div class="col-xs-6 col-sm-3 nav-low">
         <span class="section">Community</span>
         <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/whitepapers.html">Whitepapers</a></li>
          <li><a href="/events.html">Events</a></li>
          <li><a href="/media.html">In the media</a></li>
          <li><a href="/lists.html">Mailing lists</a></li>
         </ul>
        </div>

        <div class="col-xs-6 col-sm-3 nav-low">
         <span class="section">About&nbsp;us</span>
         <ul>
          <li><a href="/principles.html">Our principles</a></li>
          <li><a href="/mission.html">Mission &amp; vision</a></li>
<!--           <li><a href="/team.html">Team</a></li> -->
          <li><a href="/careers.html">Careers</a></li>
          <li><a href="/whatwelike.html">What we <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></a></li>
          <li><a href="/legal.html">Legal</a></li>
          <li><a href="/contact.html">Contact</a></li>
         </ul>
        </div>

       </div>

       <div class="row">
        <div class="col-md-6 col-md-push-3 text-center" style="font-size: 28px">
         <a target="_blank" href="https://www.youtube.com/channel/UCC6SzVLxO8h6j5rLlfCQPhA"><i class="fa fa-youtube"></i></a></li>
         &nbsp;&nbsp;
         <a target="_blank" href="https://twitter.com/seamplex"><i class="fa fa-twitter"></i></a></li>
         &nbsp;&nbsp;
         <a target="_blank" href="https://www.linkedin.com/company/seamplex/"><i class="fa fa-linkedin"></i></a></li>
         &nbsp;&nbsp;
         <a target="_blank" href="https://bitbucket.org/seamplex"><i class="fa fa-bitbucket"></i></a></li>
        </div>
       </div>

      </div>
      <div class="col-md-4 low-uvp">
       <a href="https://www.seamplex.com"><img src="/img/logo-seamplex-footer.svg" width="70%" alt="Seamplex" style="margin-left: 1.5em"></a>
       <hr>
       <p><small>
        <a target="_blank" href="https://www.seamplex.com">Seamplex</a> is a startup that wants to
        <a target="_blank" href="/mission.html">shift engineering paradigms</a> by
        <a target="_blank" href="/tour.html">developing products and services</a> based on the
        <a target="_blank" href="/principles.html">principles of free and open programming following the UNIX philosophy</a>.
       </small></p>
       <p><small>
        Our unique value proposition consists of
        <a target="_blank" href="/#frontends">web-based front-ends</a>,
        <a target="_blank" href="/#backends">free and open source engineering software</a> and
        <a target="_blank" href="/#projects">management of innovative and complex engineering projects</a>.
       </small></p>
<!--        <hr> -->
      </div>
     </div>
    </div>
   </div>
   <div class="footer-below">
    <div class="container">
     <div class="row">
      <div class="col-md-12">
       <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" src="/img/by-sa.svg"  /></a>
       &mdash;
       <a href="https://en.wikipedia.org/wiki/Copyleft" target="_blank">Copyleft</a> <span class="copy-left">&copy;</span>
       <a href="https://www.seamplex.com">Seamplex</a>
       2016.
       <a href="https://en.wikipedia.org/wiki/Creative_Commons" target="_blank" class="hidden-xs">Some rights reserved.</a>
      </div>
     </div>
    </div>
   </div>
  </footer>
