divert(-1)
$if(title)$
define(`jimbo_title', `$title$ :: Seamplex')
$endif$
$if(toc)$
define(`jimbo_body', `data-spy="scroll" data-target="TOC"')
$endif$
divert(0)
include(top.m4.html)dnl
include(navbar.m4.html)dnl

$if(highlighting-css)$
  <style type="text/css">
$highlighting-css$
  </style>
$endif$
$for(css)$
  <link rel="stylesheet" href="$css$" type="text/css" />
$endfor$
$if(math)$
  $math$
$endif$
$for(header-includes)$
  $header-includes$
$endfor$

<div class="container bulk">
 <div class="row">
  <div class="col-md-3 col-md-push-9 nav-toc" role="complementary">
    <nav id="$idprefix$TOC" class="bs-docs-sidebar hidden-print hidden-sm hidden-xs affix-top" data-spy="affix" data-offset-top="50">
include(toc.html)
    </nav>
 
  </div>
  <div class="col-md-9 col-md-pull-3">

$if(title)$
<h1 class="first">$title$</h1>
<hr>
$endif$

$body$

  </div>
 </div>
</div>

include(footer.m4.html)
include(bottom.m4.html)
