  <!--  navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="topnav">
   <div class="container">
    <div class="navbar-header">
     <a href="/wasora" class="navbar-brand" type="button">
      <img src="../logo-wasora.svg" alt="wasora"> wasora
     </a>
     <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li><a href="/wasora/realbook">Real Book</a>
      <li><a href="/wasora/FAQ.html">FAQ</a>
      <li><a href="https://bitbucket.org/seamplex/wasora">Repository</a>
     </ul>

     <ul class="nav navbar-nav navbar-right">
      <li><button type="button" class="btn btn-tour navbar-btn" onclick="location.href='/tour.html';">Product tour</button></li>
      <li><a href="#map">Site map</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/" class="navbar-brand navbar-right pull-right" type="button"><img src="/img/logo-seamplex-horizontal.min.svg" alt="Seamplex"></a></li>
     </ul>


    </div>
   </div>
  </div>
